manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml

    # PMW3610 드라이버 모듈(대표적으로 많이 씀)
    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main

  self:
    path: config
